@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.link:hover {
  color: rgb(0, 0, 0);
}

.italic {
  font-style: italic;
}

.light {
  color: rgb(70, 70, 70);
}
